body{
  background-color: lightgoldenrodyellow;
}
.contain{
  padding-top: 30px;
 display: flex; 
 justify-content: space-around;
}
.card{
  padding-top: 10px;
  height: 250px;
  width: 200px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0.4);
  background-color:whitesmoke;
  padding-left: 25px;
}

p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

